.delete-dialog-container {
  max-height: 90dvh;
  overflow-y: auto;

  padding-bottom: 5rem;

  &::-webkit-scrollbar {
    display: none;
  }

  h2,
  h3 {
    text-align: center;
    color: wheat;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;

    .action-btns {
      display: flex;
      gap: 2rem;

      button {
        background-color: unset;
        font-weight: 600;
        color: wheat;
        font-size: 2rem;
      }
    }
  }
}
